# Testing
pytest==8.3.4
pytest-cov==5.0.0
pytest-asyncio==0.23.8
pytest-mock==3.14.0
pytest-xdist==3.6.1

# Mocking
requests-mock==1.12.1

# Linters
flake8==7.1.1
black==24.10.0
isort==5.13.2
mypy==1.13.0

# Security
bandit==1.7.10
safety==3.2.3